
/*  default webpage size LARGE */
body {background-color: blue;}
.flex-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; /*position flex items in the container*/
    align-items: stretch;
}
div #large {
    background-color: darkgray;
    padding:10px;
    box-sizing: border-box;
    border: black;
    border-style: solid;
    width: 30%;
}
div #medium {
    background-color: gray;
    padding:10px;
    box-sizing: border-box;
    border: black;
    border-style: solid;
    width: 30%;
}
div #small {
    background-color: lightgray;
    padding:10px;
    box-sizing: border-box;
    border: black;
    border-style: solid;
    width: 30%
}
h1 {font-size: x-large;}
p {font-size: large;}

/* screens between 480px and 1024px MEDIUM */
@media screen and (min-width: 480px) and (max-width: 1024px) {
    .flex-container {
        flex-direction: row;
        justify-content: space-around;
        align-content: flex-start;
    }
    body {background-color: green;}
    h1 {font-size: large;}
    p {font-size: medium;}
    div #large {width: 100%;}
    div #medium {width: 33%;}
    div #small {width: 67%}
   }
/* screens equal or smaller than 480px SMALL*/
@media screen and (max-width: 480px) {
    .flex-container {
        flex-direction: column;
        justify-content: space-around;
    }
    body {background-color: red;}
    h1 {font-size: small;}
    p {font-size: smaller;}
    div #large {width: 100%;}
    div #medium {width: 100%;}
    div #small {width: 100%}
}